.span-message-container {
  padding: 10px 2px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  min-height: 20px;
  text-align: center;
  position: fixed;
  bottom: 2px;
  left: 2px;
  z-index: 10;
}

.span-message-text {
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
}

.ok {
  background-color: #34c01c;
}

.error {
  background-color: #ca1616;
}
