.card_container {
  width: 100%;
}

.card_container .swiper {
  width: 100%;
}

.card_container .swiper-wrapper {
  align-items: stretch;
}

.card_container .swiper-slide {
  height: auto;
  display: flex;
}
